In [3]:
#### Ethnicity
import pandas as pd
import sqlite3
from contextlib import closing
import psycopg2

nct_id_list = ['NCT01306032', 'NCT02163694', 'NCT02282020', 'NCT02000622', 'NCT02032823', 
               'NCT03167619', 'NCT01818063', 'NCT01905592', 'NCT01116648', 'NCT01945775', 
               'NCT01506609', 'NCT03330847']

def extract_aact(nct_ids):
    connection = psycopg2.connect(
        database="aact",
        user= "achang",
        password="AChang2608",
        host="aact-db.ctti-clinicaltrials.org",
    )

    with closing(connection.cursor()) as cursor:
        # Prepare the SQL query with format string for nct_ids
        query = f"""
            SELECT nct_id, result_group_id, ctgov_group_code, param_value, classification, category
            FROM baseline_measurements
            WHERE (title = 'Race (NIH/OMB)' OR title = 'Race/Ethnicity, Customized')
            AND nct_id IN ({', '.join(["'%s'" % id for id in nct_ids])});
        """
        cursor.execute(query)
        patients = cursor.fetchall()

    columns = [
        'nct_id',
        'result_group_id',
        'ctgov_group_code',
        'number',
        'classification',
        'category',
    ]

    df = pd.DataFrame(patients, columns=columns)

    nunique=df['nct_id'].nunique()
    unique_nct_ids = df['nct_id'].unique()
    #print(unique_nct_ids)
    #print(nunique)
    return(df)
    



extracted_race= extract_aact(nct_id_list)
#print(extracted_race)


max_result_group_id = extracted_race.groupby('nct_id')['result_group_id'].transform('max')

# Select rows where 'result_group_id' is equal to the max within its group
filtered_extracted_race = extracted_race[extracted_race['result_group_id'] == max_result_group_id]

print(filtered_extracted_race)

filtered_extracted_race.loc[filtered_extracted_race['category'].isnull(), 'category'] = filtered_extracted_race['classification']

category_mapping = {
    'Black': 'Black or African American',
    'BLACK OR AFRICAN AMERICAN' : 'Black or African American',
    'Black Or African American' : 'Black or African American',
    'ASIAN' : 'Asian',
    'NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER': 'Native Hawaiian or Other Pacific Islander',
    'Native Hawaiian or Pacific Islander':'Native Hawaiian or Other Pacific Islander',
    'White or Caucasian': 'White',
    'AMERICAN INDIAN OR ALASKA NATIVE': 'American Indian or Alaska Native',
    'American Indian Or Alaska Native': 'American Indian or Alaska Native',
    'WHITE': 'White',
    'Unknown': 'Unknown or Not Reported',
    'Missing': 'Unknown or Not Reported',
    'Other': 'Unknown or Not Reported',
    'OTHER' : 'Unknown or Not Reported',
    'MISSING': 'Unknown or Not Reported',
    'No ethnicity': 'Unknown or Not Reported',
    'Other, not specified': 'Unknown or Not Reported',
    'Multiple': 'Unknown or Not Reported'
}

categories_to_remove = ["HISPANIC OR LATINO", "NOT HISPANIC OR LATINO","NOT KNOWN, NOT RECORDED, OR REFUSED"]

filtered_extracted_race['category'] = filtered_extracted_race['category'].replace(category_mapping)
filtered_extracted_race = filtered_extracted_race[~filtered_extracted_race['category'].isin(categories_to_remove)]
filtered_extracted_race = filtered_extracted_race.drop('classification', axis=1)
# Specify the file name for your CSV
race = "filtered_extracted_race.csv"

# Save the DataFrame to a CSV file
filtered_extracted_race.to_csv(race, index=False)

          nct_id  result_group_id ctgov_group_code number  \
2    NCT03167619         74624646            BG002      0
5    NCT03167619         74624646            BG002     34
8    NCT03167619         74624646            BG002      0
11   NCT03167619         74624646            BG002      0
14   NCT03167619         74624646            BG002      9
..           ...              ...              ...    ...
390  NCT02032823         74616130            BG002     48
393  NCT02032823         74616130            BG002      1
396  NCT02032823         74616130            BG002   1225
399  NCT02032823         74616130            BG002      9
402  NCT02032823         74616130            BG002     18

                                classification  \
2                                         None
5                                         None
8                                         None
11                                        None
14                                        None
..                                         ...
390                  BLACK OR AFRICAN AMERICAN
393  NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER
396                                      WHITE
399                                      OTHER
402                                    MISSING

                                      category
2             American Indian or Alaska Native
5                                        Asian
8    Native Hawaiian or Other Pacific Islander
11                   Black or African American
14                                       White
..                                         ...
390                                       None
393                                       None
396                                       None
399                                       None
402                                       None

[83 rows x 6 columns]

/var/folders/64/x7_jk0ds5174rzhfbs9sv8b80000gn/T/ipykernel_42580/3399928707.py:86: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_extracted_race['category'] = filtered_extracted_race['category'].replace(category_mapping)

In [2]:
num_unique_values = filtered_extracted_race['category'].nunique()
print(f"Number of unique values in 'category': {num_unique_values}")

# Print out the unique values in the 'category' column
unique_values = filtered_extracted_race['category'].unique()
print("Unique values in 'category':")
print(unique_values)

Number of unique values in 'category': 11
Unique values in 'category':
['American Indian or Alaska Native' 'Asian'
 'Native Hawaiian or Other Pacific Islander' 'Black or African American'
 'White' 'More than one race' 'Unknown or Not Reported'
 'Ashkenazi Jewish descendant' 'Hispanic or Latino' 'No Ethnicity'
 'Other, Not Specified']

nct_ids in the list but not in the extracted data: {'NCT02034916', 'NCT00679783'}
2 studies no ethnicities

nct_ids in the list but not in the extracted data: {'NCT03343054', 'NCT01818063', 'NCT02734004', 'NCT02657889', 'NCT01905592', 'NCT04690855', 'NCT01506609'}

1st study: Age, customized in title, : <18,18-44, 45-64, >65 in classification
2nd study: Age, categorical in title, , <18, 18-65, >65, in category
3rd study: Age, categorical in title, <18, 18-65, >65, in category
4th study: Age, categorical in title:  as above
5th study: Age, customized: 18-64, 65-74, >75 in category
6th study: Age, categorical in title in category
7t study: Age, customized, <45, 45-64, >65 in category

In [12]:
### Age with custom and categorical
nct_id_list = ['NCT01306032', 'NCT02163694', 'NCT02282020', 'NCT02000622', 'NCT02032823', 
               'NCT03167619', 'NCT01818063', 'NCT01905592', 'NCT01116648', 'NCT01945775', 
               'NCT01506609', 'NCT03330847']

def extract_aact_age_extra(nct_ids):
    connection = psycopg2.connect(
        database="aact",
        user= "achang",
        password="AChang2608",
        host="aact-db.ctti-clinicaltrials.org",
    )

    with closing(connection.cursor()) as cursor:
        query = f"""
        SELECT m.nct_id, m.result_group_id, m.classification, m.category, m.title, m.param_value, b.count, m.dispersion_type, m.dispersion_value
        FROM baseline_measurements m
        LEFT JOIN baseline_counts b on m.result_group_id=b.result_group_id
        WHERE (title = 'Age, Continuous')
        AND m.nct_id IN ({', '.join(["'%s'" % id for id in nct_ids])});;
        """
        cursor.execute(query)
        patients = cursor.fetchall()
        
        columns = [
        'nct_id',
        'result_group_id',
        'classification',
        'category',
        'title',
        'number',
        'total count',
        'dispersion_type',
        'dispersion_value'
    ]

    df = pd.DataFrame(patients, columns=columns)

    nunique=df['nct_id'].nunique()
    unique_nct_ids = df['nct_id'].unique()
    #print(unique_nct_ids)
    print(nunique)
    return(df)
    


extracted_age_extra= extract_aact_age_extra(nct_id_list)
print(extracted_age_extra)


max_result_group_id = extracted_age_extra.groupby('nct_id')['result_group_id'].transform('max')

# Select rows where 'result_group_id' is equal to the max within its group
filtered_extracted_age_extra = extracted_age_extra[extracted_age_extra['result_group_id'] == max_result_group_id]

# Specify the file name for your CSV
age_extra = "filtered_extracted_age_extra.csv"

# Save the DataFrame to a CSV file
filtered_extracted_age_extra.to_csv(age_extra, index=False)

9
         nct_id  result_group_id classification category            title  \
0   NCT03167619         74624644           None     None  Age, Continuous
1   NCT01116648         74380806           None     None  Age, Continuous
2   NCT03330847         74663619           None     None  Age, Continuous
3   NCT03330847         74663620           None     None  Age, Continuous
4   NCT01306032         74410713           None     None  Age, Continuous
5   NCT02000622         74455745    Age (years)     None  Age, Continuous
6   NCT02282020         74700164           None     None  Age, Continuous
7   NCT02032823         74616129           None     None  Age, Continuous
8   NCT02032823         74616130           None     None  Age, Continuous
9   NCT01116648         74380792           None     None  Age, Continuous
10  NCT01116648         74380794           None     None  Age, Continuous
11  NCT01116648         74380797           None     None  Age, Continuous
12  NCT01116648         74380798           None     None  Age, Continuous
13  NCT01945775         74658553           None     None  Age, Continuous
14  NCT01116648         74380802           None     None  Age, Continuous
15  NCT01116648         74380791           None     None  Age, Continuous
16  NCT01116648         74380793           None     None  Age, Continuous
17  NCT01116648         74380795           None     None  Age, Continuous
18  NCT01945775         74658552           None     None  Age, Continuous
19  NCT01306032         74410707           None     None  Age, Continuous
20  NCT03167619         74624645           None     None  Age, Continuous
21  NCT03167619         74624646           None     None  Age, Continuous
22  NCT01116648         74380800           None     None  Age, Continuous
23  NCT01116648         74380801           None     None  Age, Continuous
24  NCT03330847         74663618           None     None  Age, Continuous
25  NCT03330847         74663621           None     None  Age, Continuous
26  NCT01306032         74410712           None     None  Age, Continuous
27  NCT01116648         74380805           None     None  Age, Continuous
28  NCT01306032         74410710           None     None  Age, Continuous
29  NCT01306032         74410711           None     None  Age, Continuous
30  NCT02163694         74137199           None     None  Age, Continuous
31  NCT02163694         74137200           None     None  Age, Continuous
32  NCT02000622         74455744    Age (years)     None  Age, Continuous
33  NCT02000622         74455746    Age (years)     None  Age, Continuous
34  NCT02282020         74700165           None     None  Age, Continuous
35  NCT02032823         74616128           None     None  Age, Continuous
36  NCT01306032         74410708           None     None  Age, Continuous
37  NCT01116648         74380799           None     None  Age, Continuous
38  NCT01116648         74380803           None     None  Age, Continuous
39  NCT01116648         74380804           None     None  Age, Continuous
40  NCT02163694         74137198           None     None  Age, Continuous
41  NCT02282020         74700163           None     None  Age, Continuous
42  NCT01116648         74380796           None     None  Age, Continuous
43  NCT01945775         74658551           None     None  Age, Continuous
44  NCT01306032         74410709           None     None  Age, Continuous

   number  total count     dispersion_type dispersion_value
0    52.4           23  Standard Deviation             11.9
1    57.7          155          Full Range             None
2    54.4          112  Standard Deviation            10.85
3    52.7           47  Standard Deviation            11.29
4      57          124  Standard Deviation               11
5      45           97          Full Range             None
6    60.4           88  Standard Deviation              9.9
7    43.6          915  Standard Deviation             10.1
8    43.3         1836  Standard Deviation             10.0
9      59            3          Full Range             None
10     56            6          Full Range             None
11   57.8           44          Full Range             None
12   55.6            3          Full Range             None
13   48.1          431  Standard Deviation            11.80
14   59.0            3          Full Range             None
15     49            3          Full Range             None
16     57            7          Full Range             None
17     57            9          Full Range             None
18   49.4          144  Standard Deviation            12.12
19     55           25  Standard Deviation               10
20   49.5           22  Standard Deviation             11.7
21     51           45  Standard Deviation             11.8
22   58.7            3          Full Range             None
23   57.8            3          Full Range             None
24   53.1          114  Standard Deviation            11.55
25   53.6          273  Standard Deviation            11.21
26     56            2  Standard Deviation                6
27   54.5            7          Full Range             None
28     58           38  Standard Deviation               10
29     70            2  Standard Deviation               24
30   46.8          337  Standard Deviation            10.73
31   46.8          509  Standard Deviation            10.75
32     44          205          Full Range             None
33     44          302          Full Range             None
34   59.2          266  Standard Deviation              9.5
35   43.0          921  Standard Deviation              9.8
36     53           20  Standard Deviation               13
37   61.5            6          Full Range             None
38   59.8            6          Full Range             None
39   58.7            6          Full Range             None
40   46.8          172  Standard Deviation            10.81
41   58.5          178  Standard Deviation              9.3
42   58.1           46          Full Range             None
43   47.5          287  Standard Deviation            11.61
44     57           37  Standard Deviation               10

In [6]:
num_unique_values = filtered_extracted_age_extra['nct_id'].nunique()
print(f"Number of unique values in 'category': {num_unique_values}")

# Print out the unique values in the 'category' column
unique_values = filtered_extracted_age_extra['nct_id'].unique()
print("Unique values in 'category':")
print(unique_values)

Number of unique values in 'category': 12
Unique values in 'category':
['NCT03167619' 'NCT01905592' 'NCT01116648' 'NCT01945775' 'NCT03330847'
 'NCT01506609' 'NCT01306032' 'NCT02163694' 'NCT02000622' 'NCT02282020'
 'NCT01818063' 'NCT02032823']

In [6]:
### trial design

nct_id_list = ['NCT01306032', 'NCT02163694', 'NCT02282020', 'NCT02000622', 'NCT02032823', 
               'NCT03167619', 'NCT01818063', 'NCT01905592', 'NCT01116648', 'NCT01945775', 
               'NCT01506609', 'NCT03330847']

def extract_aact_design(nct_ids):
    connection = psycopg2.connect(
        database="aact",
        user= "achang",
        password="AChang2608",
        host="aact-db.ctti-clinicaltrials.org",
    )

    with closing(connection.cursor()) as cursor:
        query = f"""
        SELECT nct_id, allocation, intervention_model, masking, subject_masked, caregiver_masked, investigator_masked, outcomes_assessor_masked
        FROM designs
        WHERE nct_id IN ({', '.join(["'%s'" % id for id in nct_ids])});
        """
        cursor.execute(query)
        patients = cursor.fetchall()
        
        columns = [
        'nct_id',
        'allocation',
        'intervention_model',
        'masking',
        'subject_masked',
        'caregiver_masked',
        'investigator_masked',
        'outcomes_assessor_masked'
    ]

    df = pd.DataFrame(patients, columns=columns)

    nunique=df['nct_id'].nunique()
    unique_nct_ids = df['nct_id'].unique()
    #print(unique_nct_ids)
    print(nunique)
    return(df)
    



extracted_designs= extract_aact_design(nct_id_list)
print(extracted_designs)

# Specify the file name for your CSV
designs = "extracted_designs.csv"

# Save the DataFrame to a CSV file
extracted_designs.to_csv(designs, index=False)

12
         nct_id  allocation    intervention_model            masking  \
0   NCT01306032  Randomized  Crossover Assignment  None (Open Label)
1   NCT02163694  Randomized   Parallel Assignment             Double
2   NCT02000622  Randomized   Parallel Assignment  None (Open Label)
3   NCT02032823  Randomized   Parallel Assignment             Triple
4   NCT03167619  Randomized   Parallel Assignment  None (Open Label)
5   NCT01818063  Randomized   Parallel Assignment  None (Open Label)
6   NCT01905592  Randomized   Parallel Assignment  None (Open Label)
7   NCT02282020  Randomized                  None  None (Open Label)
8   NCT01116648  Randomized   Parallel Assignment  None (Open Label)
9   NCT01945775  Randomized   Parallel Assignment  None (Open Label)
10  NCT01506609  Randomized   Parallel Assignment             Double
11  NCT03330847  Randomized   Parallel Assignment  None (Open Label)

   subject_masked caregiver_masked investigator_masked  \
0            None             None                None
1            True             None                True
2            None             None                None
3            True             True                True
4            None             None                None
5            None             None                None
6            None             None                None
7            None             None                None
8            None             None                None
9            None             None                None
10           True             None                True
11           None             None                None

   outcomes_assessor_masked
0                      None
1                      None
2                      None
3                      None
4                      None
5                      None
6                      None
7                      None
8                      None
9                      None
10                     None
11                     None

In [7]:

### interventions

nct_id_list = ['NCT01306032', 'NCT02163694', 'NCT02282020', 'NCT02000622', 'NCT02032823', 
               'NCT03167619', 'NCT01818063', 'NCT01905592', 'NCT01116648', 'NCT01945775', 
               'NCT01506609', 'NCT03330847']

def extract_aact_intervention(nct_ids):
    connection = psycopg2.connect(
        database="aact",
        user= "achang",
        password="AChang2608",
        host="aact-db.ctti-clinicaltrials.org",
    )

    with closing(connection.cursor()) as cursor:
        query = f"""
        SELECT d.nct_id, d.intervention_id, i.name, i.description, de.title
        FROM design_group_interventions d
        LEFT JOIN interventions i on d.intervention_id=i.id
        LEFT JOIN design_groups de on de.id=d.design_group_id
        WHERE d.nct_id IN ({', '.join(["'%s'" % id for id in nct_ids])});
        """
        cursor.execute(query)
        patients = cursor.fetchall()
        
        columns = [
        'nct_id',
        'intervention_id',
        'name',
        'description',
        'title'
    ]

    df = pd.DataFrame(patients, columns=columns)

    nunique=df['nct_id'].nunique()
    unique_nct_ids = df['nct_id'].unique()
    #print(unique_nct_ids)
    print(nunique)
    return(df)
    



extracted_intervention= extract_aact_intervention(nct_id_list)
print(extracted_intervention)



# Specify the file name for your CSV
interventions = "extracted_interventions.csv"

# Save the DataFrame to a CSV file
extracted_intervention.to_csv(interventions, index=False)

12
         nct_id  intervention_id                             name  \
0   NCT01818063         73676220                       Paclitaxel
1   NCT01818063         73676220                       Paclitaxel
2   NCT01818063         73676221                      Carboplatin
3   NCT01818063         73676221                      Carboplatin
4   NCT01818063         73676222                      Doxorubicin
..          ...              ...                              ...
57  NCT02163694         73643611                      Carboplatin
58  NCT02163694         73643612                       Paclitaxel
59  NCT02163694         73643612                       Paclitaxel
60  NCT02000622         74000274                         Olaparib
61  NCT02000622         74000275  Physician's choice chemotherapy

                                          description  \
0                                            Given IV
1                                            Given IV
2                                            Given IV
3                                            Given IV
4                                            Given IV
..                                                ...
57  Administered intravenously over approximately ...
58  Administered by intravenous infusion over appr...
59  Administered by intravenous infusion over appr...
60  Patients will be administered olaparib orally ...
61  Investigators will declare one of the followin...

                                                title
0                     Arm 1 (paclitaxel, carboplatin)
1          Arm 2 (veliparib, paclitaxel, carboplatin)
2                     Arm 1 (paclitaxel, carboplatin)
3          Arm 2 (veliparib, paclitaxel, carboplatin)
4                     Arm 1 (paclitaxel, carboplatin)
..                                                ...
57          Veliparib with Carboplatin and Paclitaxel
58  Veliparib Placebo with Carboplatin and Paclitaxel
59          Veliparib with Carboplatin and Paclitaxel
60                                           Olaparib
61                    Physician's choice chemotherapy

[62 rows x 5 columns]

In [8]:
#### sex


nct_id_list = ['NCT01306032', 'NCT02163694', 'NCT02282020', 'NCT02000622', 'NCT02032823', 
               'NCT03167619', 'NCT01818063', 'NCT01905592', 'NCT01116648', 'NCT01945775', 
               'NCT01506609', 'NCT03330847']

def extract_aact_sex(nct_ids):
    connection = psycopg2.connect(
        database="aact",
        user= "achang",
        password="AChang2608",
        host="aact-db.ctti-clinicaltrials.org",
    )

    with closing(connection.cursor()) as cursor:
        # Prepare the SQL query with format string for nct_ids
        query = f"""
            SELECT nct_id, result_group_id, ctgov_group_code, category,title, param_value
            FROM baseline_measurements
            WHERE (title ='Sex: Female, Male' )
            AND nct_id IN ({', '.join(["'%s'" % id for id in nct_ids])});
        """
        cursor.execute(query)
        patients = cursor.fetchall()

    columns = [
        'nct_id',
        'result_group_id',
        'ctgov_group_code',
        'category',
        'title',
        'param_value'
    ]

    df = pd.DataFrame(patients, columns=columns)

    nunique=df['nct_id'].nunique()
    unique_nct_ids = df['nct_id'].unique()
    #print(unique_nct_ids)
    #print(nunique)
    return(df)
    



extracted_sex= extract_aact_sex(nct_id_list)
#print(extracted_race)


max_result_group_id = extracted_sex.groupby('nct_id')['result_group_id'].transform('max')

# Select rows where 'result_group_id' is equal to the max within its group
filtered_extracted_sex = extracted_sex[extracted_sex['result_group_id'] == max_result_group_id]



# Specify the file name for your CSV
sex = "filtered_extracted_sex.csv"

# Save the DataFrame to a CSV file
filtered_extracted_sex.to_csv(sex, index=False)

In [9]:
#### outcomes


nct_id_list = ['NCT01306032', 'NCT02163694', 'NCT02282020', 'NCT02000622', 'NCT02032823', 
               'NCT03167619', 'NCT01818063', 'NCT01905592', 'NCT01116648', 'NCT01945775', 
               'NCT01506609', 'NCT03330847']

def extract_aact_outcomes(nct_ids):
    connection = psycopg2.connect(
        database="aact",
        user= "achang",
        password="AChang2608",
        host="aact-db.ctti-clinicaltrials.org",
    )

    with closing(connection.cursor()) as cursor:
        # Prepare the SQL query with format string for nct_ids
        query = f"""
            SELECT nct_id, outcome_type, measure
            FROM design_outcomes
            WHERE nct_id IN ({', '.join(["'%s'" % id for id in nct_ids])}) ;
        """
        cursor.execute(query)
        patients = cursor.fetchall()

    columns = [
        'nct_id',
        'outcome_type',
        'measure'
    ]

    df = pd.DataFrame(patients, columns=columns)

    nunique=df['nct_id'].nunique()
    unique_nct_ids = df['nct_id'].unique()
    #print(unique_nct_ids)
    #print(nunique)
    return(df)

extracted_outcomes= extract_aact_outcomes(nct_id_list)
    
print(extracted_outcomes)

          nct_id outcome_type  \
0    NCT01945775      primary
1    NCT01945775    secondary
2    NCT01945775    secondary
3    NCT01945775    secondary
4    NCT01945775    secondary
..           ...          ...
110  NCT02000622        other
111  NCT02000622        other
112  NCT01818063      primary
113  NCT01818063    secondary
114  NCT01818063    secondary

                                               measure
0    Progression-Free Survival (PFS): Independent R...
1    Percentage of Participants With Objective Resp...
2                                Overall Survival (OS)
3             Trough Plasma Talazoparib Concentrations
4    Number of Participants With Treatment-emergent...
..                                                 ...
110  Time to First Subsequent Cancer Therapy or Dea...
111  Time to Second Subsequent Cancer Therapy or De...
112  Count of Participants That Achieve Pathologic ...
113                          Overall Clinical Response
114                              Relapse Free Survival

[115 rows x 3 columns]